@media screen and (max-width : 768px) {
    html,head{
        width: 600px;
               margin: 0;
        background-color: rgb(255, 255, 255);
    }

/* navigation */

nav{
    width: 100%;
    height: 70px;
    margin: 0;
    border: 1px solid black;
}
nav a{
    text-decoration: none;
    color: black;
}
.name{
    margin: 15px 0 15px 25px;
    font-weight: bolder;
}
#navi{
    float: right;
    margin: -65px 25px 0 0;
}
#line1,#line2,#line3,.line4,.line5{
    width: 55px;
    height: 5px;
    background-color: black;
}
#line2{
    width: 45px;
    margin-left: 10PX;
}
.line4,.line5{
    width: 35px;
   margin: 0;
    rotate: 135deg;
}
.line5{
    width: 35px;
    rotate: 225deg;
    margin: -5.5px 0 0 0;

}
/* ============ */
#nav-container{
    width: 100%;
    /* background-color: rgb(255, 255, 255); */
    height: 0px;
    transition: 0.5s;
    overflow: hidden;
    text-align: center;
    
}

.nav-contains a{
     text-decoration: none;
     display: block;
     font-size: 28px;
     color: black;
     margin: 20px 0 35px 210px;
     border: 1px solid black;
     width: 200px;
     box-shadow: 2px 2px black;
}
#close{
       margin: 25px 30px 0 50px;
       color: black;
       font-size: 75px;
       font-weight: bolder;
}


/* product editing */

#product1{
   width: 100%;
   height: 300px;
}
.productdetails{
    width: 44%;
    height: 300px;
    border: 1px solid black; 
    float: left;
    padding: 5px;
    overflow-y: hidden;
margin:2% 0 0 3%;
}
.productdetails a{
    text-decoration: none;
}
.p-image{
   width: 100%;
   height: 180px;
   margin: 20px 0 0 0;

}
.p-discription{
    width: 238px;
     border: 1px solid black;
    background-color: black;
    color: white;
   margin: 16px 0 0 -5px;
text-align: center;
padding: 17px;
position: relative;
} 


#navi{
    display: inline;
}
#close{
    display: inline;
}














}